/*Position and animation of all circles*/

#c8 {
  cx: 9%;
  cy: 22%;
  animation: circle-animation-8 4s infinite;
}

@keyframes circle-animation-8 {
  50% {
    transform: scale(2);
  }
}

#c9 {
  cx: 50%;
  cy: 29%;
}

#c10 {
  cx: 29%;
  cy: 57%;
}

#c9,
#c10 {
  animation: circle-animation-9 4s infinite;
}

@keyframes circle-animation-9 {
  50% {
    transform: scale(1.5);
  }
}

/*When the screen height shrinks i2_c3 will
disappear if the scal does not shrink.*/

@media screen and (max-height: 500px) {
  #c10 {
    animation: circle-animation-max-height 4s infinite;
  }

  @keyframes circle-animation-max-height {
    50% {
      transform: scale(1.3);
    }
  }
}
