#i7_c1 {
    animation: stroke-animation 6s ease-in-out infinite;
}

#i7_c2 {
    animation: transition-animation 4s ease-in-out infinite;
}

#i7_r2 {
    animation: skew-animation 10s infinite;
}

#i7_r3 {
    animation: tilt-animation 5s infinite;
}

@keyframes stroke-animation {
    50% {
        stroke-width: 30;
    }
}

@keyframes transition-animation {
    50% {
        cy: 200;
    }
}

@keyframes skew-animation {
    50% {
        transform: skew(180deg);
    }
}

@keyframes tilt-animation {
    50% {
        transform: rotate(-30deg);
    }
}