#svg3 {
  background-color: #ecb5ff;
}

#i3_c1,
#i3_c2,
#i3_c3 {
  cx: 50%;
  cy: 50%;
  stroke-width: 10%;
  animation: circle-animation-10 10s ease-in-out infinite;
}

#i3_c1 {
  r: 30%;
}

#i3_c2 {
  r: 20%;
}

#i3_c3 {
  r: 10%;
}

@keyframes circle-animation-10 {
  50% {
    stroke-width: 0;
  }
}
