#carousel {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.arrows {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid white;
  padding: 10px;
  height: 30px; /*FIX*/
  width: 30px;
  background-color: rgb(5, 180, 180);
}

.arrows:hover {
  background-color: darkcyan;
  cursor: pointer;
}

.arrows:hover .arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
}

.left {
  margin: 5px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right {
  margin: 0 5px 0 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#installation {
  display: inline-block;
  border: 2px solid grey;
  min-width: 70%;
  height: 500px; /* FIX ME */
}

#artistInfo {
  text-align: center;
}

#c1 {
  animation: circle-animation 1s ease-in-out infinite;
}

@keyframes circle-animation {
  50% {
    fill: #4e4e4e;
  }
}
